* {
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    color: #fff;
    padding: 1rem 2rem;
}



.logo ul svg {
    width: 8.933rem;

}

.logo ul i {
    font-size: 20px;
}

.logo ul {
    display: flex;
    align-items: center;
    justify-content: baseline;
    list-style: none;
    gap: 10px;

}

.end {
    width: 40%;
}

.end ul {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}

.input {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input #inputfield {
    width: 1200px;
    padding: 1.3rem;
    border: 1px solid black;
    border-radius: 0%;
    outline-color: #4095E8;
    font-size: 15px;
    background-color: #E8EAEB;
}

#inputfield::placeholder {
    font-size: 20px;
    margin-left: 20px;
}

.input #inputbutton {
    width: 180px;
    background-color: #09757A;
    padding: 1.3rem;
    color: #fff;
    border: 1px solid #09757A;
    border-radius: 0%;
    font-size: 15px;
}

.contentwrapper {
    height: 550px;
    display: flex;
    justify-content: space-around;
    padding: 0rem 3rem;
    position: relative;

}

.rightcontent {
    width: 70%;
    position: relative;
    border-radius: 30px;
}

.imgwrapper {
    height: 1000px;
    position: relative;
}

.imgwrapper img {
    width: 800px;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
}

.textwrapper {
    position: absolute;
    top: 1px;
    padding: 40px;
}


.textwrapper h6 {
    font-size: 15px;
}

.textwrapper h1 {
    margin: 20px 0;
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;

}

.textwrapper p {
    font-size: 16px;
    color: #000;
    margin: 20px 0;
    line-height: 1.5;

}

#findyours {
    padding: 10px 16px;
    text-align: center;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-weight: 500;
}

#findyours:hover {
    scale: 1.1;
}

.leftcontent {
    width: 30%;
}

.leftbox {
    width: 255px;
    height: 440px;
    background-color: #FDE9DB;
    padding: 2rem 3rem;
    border-radius: 4px;
}

.sectextwrapper h6 {
    font-size: 16px;
    margin-top: 10px;

}

.sectextwrapper h4 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
    line-height: 1.2;
}

.sectextwrapper button {
    padding: 10px 16px;
    text-align: center;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
}

.sectextwrapper button:hover {
    scale: 1.1;
}

.sectextwrapper span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.sectextwrapper span:hover {
    border-bottom: 2px solid black;
}

.sectextwrapper p {
    font-size: 12px;
    margin: 20px 0;
}

.heroheading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
}

.heroheading h1 {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;

}

.heroheading p {
    font-size: 15px;
    font-weight: 500;
}

.herocards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 2rem 0;
}

.leftcard {
    width: 40%;
}

.rightcard {
    width: 40%;
}

.leftcard img {
    width: 100%;
}

.rightcard img {
    width: 100%;
}

figcaption h2 {
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    margin: 12px 0;

}

figcaption p {
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0;
}

figcaption span {
    font-size: 14px;
    margin: 15px 0;
}

figcaption h6 {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

figcaption button {
    padding: 10px 26px;
    text-align: center;
    font-size: 15px;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.button #arrowicon {
    display: none;
    position: absolute;
    bottom: 14px;
    right: 4px;

}

.button:hover #arrowicon {

    display: block;
}

.button:hover {
    scale: 1.1;
}


.testimonials {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

}

.headingwrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4rem;
    font-size: 20px;
}

.testinomialswrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 3rem;

}


.commentbox {
    width: 320px;
    height: 400px;
    background: #E8EAEB;
    border-radius: 5px;
    padding: 2rem;
    position: relative;
}

.commentbox h6 {
    font-size: 14px;
    margin-bottom: 15px;
}

.commentbox span i {
    margin: 10px 0;
    background-color: #00b67b;
    color: #FDE9DB;
    padding: 4px;
    font-size: 12px;

}

.commentbox p {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;

}

.commentbox h5 {
    font-size: 15px;
    position: absolute;
    bottom: 10px;
}

#regular {
    background-color: #DCDCE6;
}

.testimonialsrating {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;
    margin-left: 70px;
}

.testimonialsrating h2 {
    font-size: 28px;

}

.testimonialsrating span i {
    margin: 10px 0;
    background-color: #00b67b;
    color: #FDE9DB;
    padding: 12px;
    font-size: 16px;
}

.testimonialsrating p {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 700;
}

.endwrapper {
    width: 100%;
    height: 100%;
    margin-top: 12rem;
}

.endwrapperimg {
    position: relative;
}

.endwrapperimg img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.leftsologan {
    position: absolute;
    top: 4.5rem;
    left: 4rem;

}

.leftsologan p {
    font-size: 14px;
    color: #000;
}

.leftsologan span {
    font-size: 12px;
    /* color: #E8EAEB; */
}

.rightwrappercontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 55px;
    right: 40px;
}

.rightwrappercontent img {
    max-width: 200px;
    object-fit: contain;
    height: 40px;
    margin-bottom: 10px;
}

.rightwrappercontent h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 0px;

}

.rightwrappercontent p {
    margin: 15px 0;
    font-size: 14px;
}


.rightwrappercontent button {
    padding: 10px 36px;
    text-align: center;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.helpbutton #iconer {
    display: none;
    position: absolute;
    bottom: 14px;
    right: 4px;

}

.helpbutton:hover #iconer {

    display: block;
}

.helpbutton:hover {
    scale: 1.1;
}

.disclaimer {
    margin: 1rem;
}

.disclaimer span {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.disclaimer p {
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

.offercontent {
    display: flex;
    align-self: center;
    /* justify-content: flex-start; */
    padding: 8px;
    padding-left: 4rem;
    background-color: #2b2b2b;
    margin-bottom: 1px;
}

.offercontent svg {
    width: 150px;
}

.offercontent p {
    font-size: 20px;
    color: #fff;
    margin-inline: 7rem;
    text-transform: capitalize;
    margin-top: 1px;
}

.offercontent span {
    margin-right: -6rem;
}

.offercontent i {
    margin-top: 6px;
    font-size: 20px;

}


.ican {
    padding: 10px;
    background-color: #000;
    text-align: center;
    color: #00b67b;
    /* margin-bottom: 0.1em; */
}

.ican h6 {
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}

/* --------------------------------------footer------------------------------------------------ */

.footercontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem 10px;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;

}

.footercontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footercontent h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.footercontent span {
    font-size: 12px;
    /* font-weight: 700; */
    color: #BAC0C3;
    line-height: 2.8;
}